*{
    margin:0%;
    padding: 0%;
    background-color:gray;
    align-items: center;
    text-align: center;
}
.display1
{
    width:375px;
    height: 60px;
   text-align: justify;
    background-color: aliceblue;
    border-radius: 20px;
    font-size: xx-large;
    padding: 5px;
} 
.btn
{
    background-color: black;
    color: aliceblue;
    align-items: center;
    /* margin:15px;
    padding: 25px;  */
    border-radius: 10px;
    font-size: x-large;
    width: 90px;
    height: 60px;
    margin: 2px;
}
.btn:hover
{
    background-color: rgb(18, 2, 34);
    cursor:pointer;
}


